<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Attrition Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>Employee Attrition Prediction</h1>
    <p class="subtitle">Fill the employee details and click Predict</p>

    <form action="/predict" method="POST">

        <label>Age</label>
        <input type="number" name="Age" value="30" required>

        <label>Daily Rate</label>
        <input type="number" name="DailyRate" value="800" required>

        <label>Distance From Home</label>
        <input type="number" name="DistanceFromHome" value="10" required>

        <label>Education Level (1–5)</label>
        <select name="Education" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>

        <label>Job Level</label>
        <select name="JobLevel" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>

        <label>Monthly Income</label>
        <input type="number" name="MonthlyIncome" value="5000" required>

        <label>Total Working Years</label>
        <input type="number" name="TotalWorkingYears" value="5" required>

        <label>Years at Company</label>
        <input type="number" name="YearsAtCompany" value="3" required>

        <label>Gender</label>
        <select name="Gender" required>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>

        <label>Over Time</label>
        <select name="OverTime" required>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>

        <label>Department</label>
        <select name="Department" required>
            <option value="Research & Development">Research & Development</option>
             <option value="Sales">Sales</option>
            <option value="Human Resources">Human Resources</option>
        </select>

        <button type="submit">Predict</button>
    </form>

    {% if prediction %}
        <div class="result">{{ prediction }}</div>
    {% endif %}
</div>

</body>
</html>

